.content {
    background-color: #fff;
    margin-left: 350px;    
    font-size: 28px;
    padding: 0px 10px;
    margin-right: 47px;
    height: auto;
}
.content p{
    text-align: justify;
}
.content h1{
    margin-bottom: 0;
    font-size: 55px;
}

.content h3{
    margin-top: 1;
    font-size: 25px;
}


